body{   /*this body section will add styles to the whole page*/
    background-color: black; /*This changes the background colour*/
    text-align: center; /*This piece of code makes all content center in to the middle*/
    
}



.top{
    background-color: red;
    height: 100px;
    width: 100%;

}

.l{
    background-color:green;
    height: 150px;
    width: 40%;
    float: left;
    font-size: 25px;
}


.r{
    background-color: rgb(221, 161, 210);
    height: 150px;
    width: 40%;
    float: right;
    font-size: 25px;
}


.header{
    background-color: crimson;
    width: 100%;
    height: 300px;
    font-size: 50px;




}




.small{
    background-color: green;
    width: 50%;
    height: 600px;
    float: left;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    



}
  












.br{
    background-color: blue;
    width: 40%;
    height: 500px;
    float: left;

    
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.bl{
   background-color: darkgreen;
   width: 40%;
   height: 500px;
   float: left;
   font-size: 25px;
   margin-left: 20%;



}

ul{
    font-size: 25px;
    text-align: left;


}

.smallright{
    background-color: green;
    width: 50%;
    height: 600px;
    float: left;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.bottommiddle{
    background-color: red;
    width: 100%;
    height: 100px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: left;

}


.box1{
    background-color: red;
    width: 50%;
    height: 200px;
    float: left;

}

.TopBox{
    background-color: red;
    width: 100%;
    height: 200px;

    
}





.RightBox{
    background-color: blue;
    width: 25%;
    height: 1000px;
    float: center;

}

